<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Console prices adjusted for inflation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Console prices adjusted for inflation">
    {{#if devMode}}
        {{styles "node_modules/bootstrap/dist/css/bootstrap.min.css" "src/css/style.css"}}
    {{else}}
        {{inlineStyles "node_modules/bootstrap/dist/css/bootstrap.min.css" "src/css/style.css"}}
    {{/if}}
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="canonical" href="https://www.inflationstation.net/" />
</head>
<body>

<header>
    <h1>Console prices adjusted for inflation</h1>
</header>

<div id="filterbar" class="hide-without-js container mt-1">
    <div id="filterbar-filter">
        <label for="filter" class="sr-only">Filter</label>
        <input id="filter" type="text" placeholder="Filter">
    </div>

    <div id="filterbar-include">
        <label for="filter-type" class="ml-md-1" >Include:</label>
        <select id="filter-type">
            <option value="all" selected>All</option>
            <option value="home">Home</option>
            <option value="handheld">Handheld</option>
        </select>
    </div>

    <div id="filterbar-order">
        <label for="sort-by" class="ml-md-1" >Order By:</label>
        <select id="sort-by">
            <option value="year" selected>Year</option>
            <option value="price">Today's Price</option>
            <option value="orig-price">Original Price</option>
            <option value="manufacturer">Manufacturer</option>
        </select>

        <label for="sort-order" class="sr-only">Sort Order:</label>
        <select id="sort-order">
            <option value="asc" selected>Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
</div>

{{inlineScripts "src/js/unhide.js"}}

<div class="container">
  <div id="console-list" class="row console-row">
    {{#each data}} 
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 console-item"
        data-type="{{type}}"
        data-name="{{name}}"
        data-year="{{year}}"
        data-orig-price="{{raw_orig_price}}"
        data-price="{{raw_price}}"
        data-manufacturer="{{manufacturer}}">
        <div class="shadow bg-white rounded h-100 console-content">
            <a href="{{link}}">
                <picture>
                    <source srcset="
                        {{imgName img200Webp}} 200w,
                        {{imgName img400Webp}} 400w,
                        {{imgName img600Webp}} 600w,
                        {{imgName img800Webp}} 800w,
                        {{imgName img1600Webp}} 1600w"
                        sizes=" (max-width: 576px) 80vw, 200px"
                        type="image/webp">
                    <img class="console-img"
                        alt="Picture of {{name}}"
                        srcset="
                        {{imgName img200Jpeg}} 200w,
                        {{imgName img400Jpeg}} 400w,
                        {{imgName img600Jpeg}} 600w,
                        {{imgName img800Jpeg}} 800w,
                        {{imgName img1600Jpeg}} 1600w"
                        sizes="(max-width: 576px) 70vw, 200px"
                        src="{{imgName img200Jpeg}}" />
                </picture>
            </a>
            <ul class="list-unstyled">
                <li><h1>${{price}}</h1></li>
                <li>{{name}} ({{year}})</li>
                <li>Original Price: ${{orig_price}}</li>
            </ul>
        </div>
    </div>
    {{/each}}
  </div>
</div>

<footer>
    <div class="container">
        <ul class="list-unstyled">
            <li>All console images (except as noted below) by <a href="https://commons.wikimedia.org/wiki/User:Evan-Amos" title="User:Evan-Amos">Evan-Amos</a></li>
            <li>Wii U image by <a href="https://commons.wikimedia.org/w/index.php?curid=23214469">Takimata</a></li>
            <li>Prices and release dates from <a href="http://vgsales.wikia.com/wiki/Launch_price">Video Game Sales Wiki</a></li>
            <li>Inflation data from <a href="https://www.bls.gov/data/inflation_calculator.htm">Consumer Price Index inflation calculator</a> and calculated for {{inflation_year}}</li>
        </ul>
    </div>
</footer>

</body>


{{scripts "src/js/main.js"}}

<!-- Un-hide all the stuff that only works when JavaScript is enabled. -->
{{!-- <script>document.querySelectorAll(".hide-without-js").forEach(function(e){e.classList.remove("hide-without-js");});</script> --}}
{{!-- <script src="js/jquery.slim.min.js" async></script>
<script src="js/bootstrap.bundle.min.js" async></script> --}}
{{!-- <script src="js/main.min.js" async></script> --}}
</html>