<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Console prices adjusted for inflation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Console prices adjusted for inflation">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <style>
        body {
            background-color: #f1f1f1;
        }
        header {
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
            color: white;
            background-color: #6c4d70;
            box-shadow: 0px 2px 5px rgb(192, 192, 192);
        }
        footer {
            padding-top: 2rem;
            padding-bottom: 2rem;
            color: white;
            background-color: #777777;
            box-shadow: 0px -2px 5px rgb(192, 192, 192);
        }
        footer a {
            color: white;
            text-decoration: underline;
            font-weight: 600;
        }
        footer a:hover {
            color: white;
        }
        .console-row {
            text-align: center;
        }
        .custom-select {
            /* width: auto; */
        }
        .filter-row {
            text-align: right;
        }
        .hide-without-js {
            display: none;
        }
    </style>
</head>
<body>

<header>
    <h1>Console prices adjusted for inflation</h1>
</header>

<div class="container hide-without-js">
    <div class="row justify-content-end filter-row">
        <div class="col-md-4 pt-2 pr-2 pl-2">
            <select id="filter-type" class="custom-select">
                <option value="all" selected>All Consoles</option>
                <option value="home">Home Consoles</option>
                <option value="handheld">Handheld Consoles</option>
            </select>
        </div>
        <div class="col-md-6 pt-2 pr-2 pl-2">
            <div class="row">
                <div class="col-6 pr-1">
                    <select id="sort-by" class="custom-select">
                        <option value="year" selected>Year</option>
                        <option value="price">Today's Price</option>
                        <option value="orig-price">Original Price</option>
                        <option value="manufacturer">Manufacturer</option>
                    </select>
                </div>
                <div class="col-6 pl-2">
                    <select id="sort-order" class="custom-select">
                        <option value="asc" selected>Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2 pt-2 pr-2 pl-2">
            <input id="filter" type="text" class="form-control" placeholder="Filter">
        </div>
    </div>
</div>

<div class="container">
  <div id="console-list" class="row console-row">
    {{#each data}} 
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2"
        data-type="{{type}}"
        data-name="{{name}}"
        data-year="{{year}}"
        data-orig-price="{{raw_orig_price}}"
        data-price="{{raw_price}}"
        data-manufacturer="{{manufacturer}}">
        <div class="console-container shadow p-2 bg-white rounded h-100">
        <a href="{{link}}">
            <picture>
                <source srcset="
                    img/{{img}}-200.webp 200w,
                    img/{{img}}-400.webp 400w,
                    img/{{img}}-600.webp 600w,
                    img/{{img}}-800.webp 800w,
                    img/{{img}}-1600.webp 1600w"
                    sizes="
                    (max-width: 576px) 80vw,
                    200px"
                    type="image/webp">
                <img class="console-img"
                    alt="Picture of {{name}}"
                    srcset="
                    img/{{img}}-200.jpg 200w,
                    img/{{img}}-400.jpg 400w,
                    img/{{img}}-600.jpg 600w,
                    img/{{img}}-800.jpg 800w,
                    img/{{img}}-1600.jpg 1600w"
                    sizes="
                    (max-width: 576px) 70vw,
                    200px"
                    src="img/{{img}}-200.jpg" />
            </picture>
        </a>
        <ul class="list-unstyled">
            <li><h1>${{price}}</h1></li>
            <li>{{name}} ({{year}})</li>
            <li>Original Price: ${{orig_price}}</li>
        </ul>
        </div>
    </div>
    {{/each}}
  </div>
</div>

<footer>
    <div class="container">
        <ul class="list-unstyled">
            <li>All console images (except as noted below) by <a href="https://commons.wikimedia.org/wiki/User:Evan-Amos" title="User:Evan-Amos">Evan-Amos</a></li>
            <li>Wii U image by <a href="https://commons.wikimedia.org/w/index.php?curid=23214469">Takimata</a></li>
            <li>Prices and release dates from <a href="http://vgsales.wikia.com/wiki/Launch_price">Video Game Sales Wiki</a></li>
            <li>Inflation data provided by <a href="https://www.npmjs.com/package/us-inflation">us-inflation</a> and calculated for {{inflation_year}}</li>
        </ul>
    </div>
</footer>

</body>


<!-- Un-hide all the stuff that only works when JavaScript is enabled. -->
<script>document.querySelectorAll(".hide-without-js").forEach(function(e){e.classList.remove("hide-without-js");});</script>
<script>

    var doSort = function() {
        var order = document.querySelector("#sort-order").value === "asc" ? 1 : -1;

        var sortFunc;
        var sortBy = document.querySelector("#sort-by").value;
        if (sortBy === "year") {
            sortFunc = function(a, b) { return a.getAttribute("data-year") - b.getAttribute("data-year"); }
        } else if (sortBy === "manufacturer") {
            sortFunc = function(a, b) {
                var val = a.getAttribute("data-manufacturer").localeCompare(b.getAttribute("data-manufacturer"));
                if (val === 0) {
                    return a.getAttribute("data-year") - b.getAttribute("data-year");
                } else {
                    return val;
                }
            }
        } else if (sortBy === "orig-price") {
            sortFunc = function(a, b) { return a.getAttribute("data-orig-price") - b.getAttribute("data-orig-price"); }
        } else if (sortBy === "price") {
            sortFunc = function(a, b) { return a.getAttribute("data-price") - b.getAttribute("data-price"); }
        }

        var consoleList = document.querySelector("#console-list");
        var nodes = Array.from(consoleList.children);
        nodes.sort(function(a, b) {
            var val = sortFunc(a, b);
            if (val === 0) {
                return order * a.getAttribute("data-name").localeCompare(b.getAttribute("data-name"));
            } else {
                return order * val;
            }
        });

        var filter_type = document.getElementById("filter-type").value;
        nodes.forEach(function (e) {
            if (filter_type === "all") {
                e.classList.remove("d-none");
            } else if (filter_type === "home") {
                if (e.getAttribute("data-type") === "home" || e.getAttribute("data-type") === "hybrid") {
                    e.classList.remove("d-none");
                } else {
                    e.classList.add("d-none");
                }
            } else if (filter_type === "handheld") {
                if (e.getAttribute("data-type") === "handheld" || e.getAttribute("data-type") === "hybrid") {
                    e.classList.remove("d-none");
                } else {
                    e.classList.add("d-none");
                }
            }
        });

        var filter = document.getElementById("filter").value.toLocaleLowerCase();
        nodes.forEach(function (e) {
            if (filter !== "") {
                if (!e.getAttribute("data-name").toLocaleLowerCase().includes(filter) &&
                    !e.getAttribute("data-manufacturer").toLocaleLowerCase().includes(filter)) {
                    e.classList.add("d-none");
                }
            }
        })

        nodes.forEach(function(e) { consoleList.appendChild(e); })
    };

    document.querySelector("#filter-type").addEventListener("change", function(event) { doSort(); });
    document.querySelector("#sort-by").addEventListener("change", function(event) { doSort(); });
    document.querySelector("#sort-order").addEventListener("change", function(event) { doSort(); });

    var timeout = null;
    document.querySelector("#filter").addEventListener("input", function(event) {
        if (timeout) {
            clearTimeout(timeout);
            timeout = null;
        }
        timeout = setTimeout(function() { timeout = null; doSort(); }, 250);
    });

    doSort();

</script>
<script src="js/jquery.slim.min.js" async></script>
<script src="js/bootstrap.bundle.min.js" async></script>
</html>